body, thead th {
    text-align: center;
}

#tiers {
    margin-top: 10px;
}

#tiers input {
    width: 100px;
}

#add, .delete {
    cursor: pointer;
}

/*
body {
    counter-reset: tiers;
    text-align: center;
}

canvas {
    display: block;
    padding: 10px;
}

.tier-label {
    width: 75px;
    text-align: right;
    display: inline-block;
}

.tier-label:after {
    counter-increment: tiers;
    content: " " counter(tiers);
}

#config-container {
    padding-top: 10px;
}

.config {
    padding: 5px;
}

.config div {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.delete {
    padding: 0 20px;
}

input {
    width: 200px;
}

#sliders {
    width: 700px;
    text-align: center;
    margin: auto;
}

.slide-container {
    padding-left: 20px;
    width: 300px;
    display: inline-block;
}

.weight-container {
    text-align: center;
    width: 200px;
}

#minWeight, #maxWeight {
    width: 200px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #55f;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
*/