/* Typography
* --------------------------------------------*/

html {
  font-size: 1em;
}

body {
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  text-shadow: 0 0 1px transparent;
}

::selection {
  color: #fff;
  background-color: #4c98b2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
  font-weight: inherit;
  margin: 0.5em 0;
}

h1 { font-size: 1.333em; }
h2 { font-size: 1.777em; }
h3 { font-size: 1.333em; }
h4 { font-size: 1.000em; }
h5 { font-size: 1.000em; }
h6 { font-size: 1.000em; }

h3 {
  border-bottom: 1px solid rgba(0, 0, 0, .0785);
}

main p {
  margin-bottom: 1.3em;
  text-align: justify;
}

ul {
  padding-left: 20px;
  list-style-type: circle;
}

hr {
  border: 0;
}

strong {
  font-weight: bold;
}

a,
a:visited {
  color: #4c98b2;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: initial;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

/* TODO - global? */
.date {
  margin: .8em 0;
  font-size: 0.75em;
  color: #999;
}

/* TODO - global? */
.footnotes {
  font-size: 0.75em;
  margin: 0 auto;
}

/* General Layout
* --------------------------------------------*/

main,
header nav {
  margin: 0 auto;
  max-width: 800px;
}

main {
  margin-top: 10px;
}

.container {
  margin: 0 15px;
}

.float-container:before,
.float-container:after {
  content: "";
  display: table;
}

.float-container:after {
  clear: both;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.row .left {
  width: 80px;
  float: left;
  text-align: right;
  font-size: 0.75em;
  color: #999;
  vertical-align: top;
  padding-top: .75em;
}

.row .right {
  display: block;
  padding-left: 20px;
  float: left;
  width: calc(100% - 100px);
}

.article-header {
  padding-bottom: .5em;
}

.pagination {
  padding-top: 30px;
  text-align: center;
}

.left     { float: left;  }
.right    { float: right; }
.center   { text-align: center }
.small    { font-size: 0.75em; }
.squished { line-height: 80%; }

/* Code
* --------------------------------------------*/

.highlight {
  margin: 0 -25px;
  border-top: 2px solid #f0f2f3;
  border-bottom: 2px solid #f0f2f3;

  font-family: "Source Code Pro", monospace;
  padding: 3px;
  font-size: .9em;
}

.highlight > div {
  margin: 0 25px;
}

.highlight > pre {
  padding-top: 5px;
  margin: 0 25px;
  overflow-y: hidden;
}

/* Header
* --------------------------------------------*/

#site-header h1 {
  margin: 0;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#site-header a {
  color: #222;
}

#site-header a:hover {
  color: #4c98b2;
  text-decoration: none;
}

#logo {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 2px 10px;
  background-color: #4c98b2;
}

#logo a:hover {
  color: #fff;
}

#site-header h1 a {
  color: #000;
}

#site-header ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  padding-top: 14px;
}

#site-header li {
  display: inline-block;
}

#site-header li:not(:last-child)::after {
  content: '\00b7';
  margin-left: .25em;
  margin-right: .25em;
}

main {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Footer
* --------------------------------------------*/

html, body {
  height: 100%;
  margin: 0;
}

#site-wrapper {
  min-height: 100%;
  margin-bottom: -70px;
}

#site-footer {
  height: 70px;
  color: #888;
}

#site-wrapper:after {
  content: "";
  display: block;
}

#site-footer,
#site-wrapper:after {
  height: 70px;
}

#site-footer {
  text-align: center;
}

#site-footer .social {
  padding: 5px;
}

#site-footer .social a {
  color: #222;
}

#site-footer a:hover {
  color: #0690fa;
  text-decoration: none;
}

/* Responsive Styles
* --------------------------------------------*/

@media (max-width: 800px) {
  #site-header .left,
  #site-header .right {
    float: none !important;
  }

  main,
  header nav {
    max-width: 640px;
  }

  .container {
    margin: 0 25px;
  }

  pre {
    margin: 0;
    border: none;
  }

  .hljs {
    width: inherit;
  }
}

@media (max-width: 640px) {
  .float-container:not(.no-collapse) .left,
  .float-container:not(.no-collapse) .right {
    float: none !important;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  main p {
    text-align: left;
  }

  #site-header {
    padding: 5px 20px;
    text-align: center;
  }

  .article-header {
    text-align: center;
  }

  .container {
    margin: 0 5px;
  }

  .row .left {
    display: block;
    float: none;
    text-align: left;
    margin-bottom: -10px;
  }

  .row .right {
    display: block;
    float: none;
    padding-left: inherit;
    width: 100%;
  }

  pre {
    margin: 0;
    border: none;
  }

  .hljs {
    width: inherit;
  }

  #logo {
    position: relative;
    padding: inherit;
    line-height: inherit;
    background-color: inherit;
    text-align: center;
    width: 100%;
  }

  h1 {
    font-size: 2.467em;
  }

  #logo a:hover {
    color: inherit;
  }
}

/* Miscellaneous Styles
* --------------------------------------------*/

img[alt=sourcegraph] {
  width: 25px;
  padding-right: 5px;
  vertical-align: middle;
}
