/* Lightbox
 * --------------------------------------------*/

figure {
  margin: 0;
  padding: 0;
  display: inline;
}

.thumbnail {
  width: 100%;
}

.thumbnail.half {
  width: 49%;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
}

.lightbox img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 0px 0px 1px 1px #ccc;
  max-height: 90%;
  max-width: 90%;
}

.lightbox:target {
  outline: none;
  display: block;
}

/* Resume
 * --------------------------------------------*/

.class-legend,
.class-icon {
  color: #2a7ae2;
}

.resume-icon {
  float: right;
  margin-top: 5px;
}

/* Attachments
 * --------------------------------------------*/

.attachments ul {
  list-style: none;
  padding: 0;
}

.attachments li {
  display: inline-block;
}

.attachments li:not(:last-child)::after {
  content: '\00b7';
  margin-left: .25em;
  margin-right: .25em;
}
