<article>
  <div class="row">
    <time datetime="{{ .Date.Format "2006-01-02" | safeHTML }}" class="left">
      {{ .Date.Format .Site.Params.dateformat }}
    </time>

    <div class="right">
      <h4>
        {{ if .Params.Icon }}
          <i class="fa fa-{{ .Params.Icon }} class-icon li-icon"></i>
        {{ end }}

        {{ if .Params.Mirror }}
          <span class="mirror">
            <a href="/articles/{{ .Params.Mirror }}">{{ .Title }} <span class="small">(original date)</span></a>
          </span>
        {{ else if and (.Params.External) (not .Params.Slug) }}
          <a href="{{ .Params.External }}">{{ .Title }} <i class="fa fa-external-link external-link"></i></a>
        {{ else }}
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
      </h4>
    </div>
  </div>
</article>
