<!DOCTYPE html>

<html lang="en">
{{ partial "head.html" . }}

<body>
  <div id="site-wrapper">
    {{ partial "header.html" . }}

    <main role="main">
      <div class="container">
        {{ if isset .Params "index" }}
          <section class="article-content">
            {{ .Content }}
          </section>
        {{ else }}
          {{ if eq .Title "Articles" }}
            <h2>Articles</h2>

            {{ range .Paginator.Pages.GroupByDate "2006" }}
              <section class="article-group">
                <div class="key">{{ .Key }}</div>

                {{ range .Pages }}
                  {{ .Render "li" }}
                {{ end }}
              </section>
            {{ end }}
          {{ else }}
            <h2>Articles about {{ .Title }}</h2>

            {{ range .Paginator.Pages }}
              {{ .Render "li" }}
            {{ end }}
          {{ end }}
        {{ end }}
      </div>

      {{ partial "pagination.html" . }}
    </main>
  </div>

  {{ partial "footer.html" . }}
</body>
</html>
