<!DOCTYPE html>

<html lang="en">
{{ partial "head.html" . }}

<body>
  <div id="site-wrapper">
    {{ partial "header.html" . }}

    <main role="main">
      <div class="container">
        {{ if isset .Params "index" }}
          <section class="article-content">
            {{ .Content }}
          </section>
        {{ else }}
          {{ if eq .Title "Articles" }}
            <h2>Articles</h2>

            <div class="articles">
              {{ range .Paginator.Pages.GroupByDate "2006" }}
                {{ range .Pages }}
                  {{ .Render "li" }}
                {{ end }}
              {{ end }}
            {{ else }}
              <h2>Articles about {{ .Title }}</h2>

              {{ range .Paginator.Pages }}
                {{ .Render "li" }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
      </div>

      {{ partial "pagination.html" . }}
    </main>
  </div>

  {{ partial "footer.html" . }}
</body>
</html>
