<div>
    <a href="{{ .Site.BaseURL }}index.xml"><i class="fa fa-rss"></i></a>

    {{ with .Site.Params.social.email }}
        <a href="mailto:{{.}}"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
    {{ end }}

    {{ with .Site.Params.social.google }}
        <a href="https://plus.google.com/{{.}}/about"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
    {{ end }}

    {{ with .Site.Params.social.facebook }}
        <a href="https://facebook.com/{{.}}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    {{ end }}

    {{ with .Site.Params.social.twitter }}
        <a href="https://twitter.com/{{.}}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    {{ end }}

    {{ with .Site.Params.social.instagram }}
        <a href="https://instagram.com/{{.}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    {{ end }}

    {{ with .Site.Params.social.linkedIn }}
        <a href="https://linkedin.com/in/{{.}}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    {{ end }}

    {{ with .Site.Params.social.github }}
        <a href="https://github.com/{{.}}"><i class="fa fa-github-square" aria-hidden="true"></i></a>
    {{ end }}

    {{ with .Site.Params.social.stackoverflow }}
        <a href="https://stackoverflow.com/users/{{.}}"><i class="fa fa-stack-overflow-square" aria-hidden="true"></i></a>
    {{ end }}
</div>
