<footer id="site-footer">
  <div class="container">
    <span class="muted">
      &copy; {{ now.Year }} - {{ .Site.Params.author }}.
      <a href="https://creativecommons.org/licenses/by/3.0/">Some Rights Reserved.</a>
    </span>

    <div class="social">
      <a href="{{ .Site.BaseURL }}/index.xml"><i class="fa fa-rss"></i></a>
      <a href="mailto:{{.Site.Params.social.email}}"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
      <a href="https://github.com/{{.Site.Params.social.github}}"><i class="fa fa-github-square" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>

{{
  $scripts := slice
    (resources.Get "js/links.js")
    (resources.Get "js/scroll.js")
    (resources.Get "js/lightbox.js")
    (resources.Get "js/mathjax.js")
  | resources.Concat "assets/js/bundle.js" | minify | fingerprint
}}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="{{ $scripts.RelPermalink }}" integrity="{{ $scripts.Data.Integrity }}" crossorigin="anonymous"></script>

{{ template "_internal/google_analytics.html" . }}
