<header class="article-header">
  <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

  <div class="float-container small">
    <div class="left">
      <time datetime="{{ .Date.Format "2006-01-02" | safeHTML }}">
        {{ .Date.Format .Site.Params.dateformat }}
      </time>
    </div>

    {{ with .Params.tags }}
    <div class="right">
      <i class="fa fa-tags"></i>

      {{ range $tag := . }}
      <a href="/tags/{{ $tag | urlize }}/">{{ $tag }}</a>
      {{ end }}
    </div>
    {{ end }}
  </div>

  {{ if .Params.External }}
    <div class="external-notice">
      <i>This article was originally <a href="{{ .Params.External }}">published externally <i class="fa fa-external-link external-link"></i></a>,
      but has been re-published here for consistency and long-term availability.</i>
    </div>
  {{ end }}
</header>
